name: Multi-Stage Docker Builds

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag uzair1232/pipe1:latest
    - name: Logging into the Docker Hub
      uses: docker/login-action@v1
      with:
           username: ${{ secrets.DOCKER_USER }}
           password: ${{ secrets.DOCKER_PASS }}
          
    - name: Pushing the Image to Docker Hub
      run: |
            docker push uzair1232/pipe1:latest
            
    - name: echo kar raha hu
      run: |
             echo "uzai r"
            
